{% extends "base.html" %}

{% block content %}
    <h1>Get synonyms for your question</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.inputquestion.label }}<br>
            {{ form.inputquestion(size=64) }}
            {% for error in form.inputquestion.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% if synonyms %}
        {% for s in synonyms %}
        <div><p>{{ s }}</p></div>
        {% endfor %}
    {% endif %}
{% endblock %}